@charset "utf-8";

// Import Google Font
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

// Set your brand colors
$plum: #8A4D76;
$dingy: #ca2e55;
$silver: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Merriweather", sans-serif;
$grey-dark: $silver;
$grey-light: $beige-light;
$primary: $plum;
$link: $dingy;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import bulma styles
@import "../../../node_modules/bulma/bulma.sass";